# Introduction to Smart Analytics

Smart Analytics is a transformative capability that empowers users to generate tables from existing datasets or external databases, enabling a multitude of analytics operations. By Smart Analytics, users gain the flexibility to create and publish datasets while simultaneously creating, updating, or overwriting tables using Smart Analytics queries. This concurrent process enhances the efficiency of data management, ensuring that the most up-to-date information is readily available for analysis and reporting purposes.

Let's import the Smart Analytics from conversight library

In [1]:
from conversight import SmartAnalytics

The SmartAnalytics module takes the following essential arguments
| Arguments     | Description |
| :------------ | :----------- |
| dataSetId | The id of the dataset to be accessed|
| name | Name of the smart analytics to be created on the dataset
| token | Token of user logged in. Its an optional argument. If no token provided by default user logged in token will be taken |

In [21]:
dataset_id = "655ceb56-HrXES9SSm"

You can get the dataset id by navigating to the side menu in the UI `Data Workbench -> Data Management` and click the dataset. In the browser address bar you can see the dataset id at the very end of the URL

In [2]:
sma = SmartAnalytics(dataSetId=dataset_id)

Now that the smart analytics module has been initiated let's see the most user accessed features
- create => This method creates the smart analytics on the given dataset id
  > - name: The name of the smart analytics to be created
  > - dataFrame: Data required to create the smart analytics
  > - isArrow: It's the boolean flag to set the data in arrow format instead of data frame. By default, it's set to False
  > - isOverwrite: This will truncates the old data and load the new data. By default, it set to True
  > - isDataPublish: This will publish the loaded table. If it is False external publish needed. By default, it's set to True
  > - token: It's and optional argument to override the token
- get => This method is used to get all the smart analytics and their attributes created on the dataset
  > - token: It's and optional argument to override the token  
- publishData => This method does the SME publish from notebook
  > - query: the version of the flow to be set as current version.
- publishDataset => This method publishes the smart analytics created and hen do SME publish
  > - action: Two actions, `create & update`. create -> publish the created tables, update -> update dictionary for the given tables. By default it is set to `update`
  > - objectList: List of objects to be created or updated
  > - token: It's and optional argument to override the token
- delete => This method accepts the most common standard sql query and return the data in arrow format
  > - name: The name of the smart analytics table to be deleted
  > - isDataPublish: It's the boolean flag to remove the smart analytics from the dataset. By default it's set to True

In-order to create a smart analytics, let's get some data by importing the `Dataset` module from csSDK

In [16]:
from csSDK import Dataset

In [22]:
ds = Dataset(dataset_id=dataset_id)  # dataset_id declared above cell

Retail Sales loaded successfully

Below is the simple conversight query that selects the `revenue, delivery date and buyer` from `retail sales` dataset

In [31]:
conversight_query = """Select @RetailSales.revenue as newcost, @RetailSales.delivery_date, @RetailSales.buyer from #RetailSales"""

In [32]:
df = ds.sql_dataframe(query=conversight_query)

In [33]:
df

            newcost m_delivery_date         m_buyer
0       5980.000000      2016-01-09     Nass Torres
1       7211.259766      2016-01-11  Sascha Johnson
2      35999.601562      2016-01-12      Kim Rogers
3      19950.000000      2016-01-12    Kei Thompson
4       7980.000000      2016-01-11    Gabby Taylor
...             ...             ...             ...
15797  35199.359375      2018-08-18        Mo Myers
15798  39767.000000      2018-08-15   Fran Sullivan
15799  11046.000000      2018-08-17      Izzi Jones
15800  65189.468750      2018-08-18       Nik Reyes
15801  23099.230469      2018-08-19     Izzi Taylor

[15802 rows x 3 columns]

Now that the data has been obtained let's create the smart analytics with desired options

In [34]:
smart_analytics_name = "Flow_Sales"
arrow = False
overwrite = True
publish = True

In [35]:
sma.create(smart_analytics_name, df, arrow, overwrite, publish)

[2023-11-29 16:37:04,334] [INFO] Setting connection details
[2023-11-29 16:37:05,006] [INFO] Table m_655cebb7_Flow_Sales already exist.
[2023-11-29 16:37:05,313] [INFO] Table m_655cebb7_Flow_Sales already exist.
[2023-11-29 16:37:05,332] [INFO] Loading table m_8edbd0b9802fd701256267551a59a9a7_Flow_Sales with data...
[2023-11-29 16:37:05,469] [INFO] Data inserted successfully !!
[2023-11-29 16:37:05,477] [INFO] Query executed successfully !!
[2023-11-29 16:37:05,482] [INFO] Query executed successfully !!
[2023-11-29 16:37:05,742] [INFO] Table m_655cebb7_Flow_Sales_backup already exist.
[2023-11-29 16:37:05,742] [INFO] Deleting table m_655cebb7_Flow_Sales_backup ...
[2023-11-29 16:37:05,753] [INFO] Query executed successfully !!
[2023-11-29 16:37:05,753] [INFO] Request to hit createDict ====> [{dataset: 655ceb56-HrXES9SSm, filter: Smart Analytics, tables: [Flow_Sales]}]

{'status': 'success', 'message': 'Smart analytics updated successfully !!'}

Get the created smart analytics and explore additional features

In [36]:
total_sma = sma.get()

[2023-11-29 16:40:34,644] [INFO] smart analytics loaded successfully for the dataset ====> [655ceb56-HrXES9SSm]

In [37]:
sales = total_sma["Flow_Sales"]

In [45]:
sales.additional_data["aliasColumns"]

['newcost', 'delivery_date', 'buyer']

In [46]:
sma.publishData()

[2023-11-29 16:48:09,503] [WARNING] Dataset [655ceb56-HrXES9SSm] is not active, current status is: Active and refreshStatus: Active]
[2023-11-29 16:48:10,368] [INFO] SME data published successfully !!

{'status': 'success', 'message': 'Success'}

In [47]:
sma.checkDatasetStatus()

{'status': 'success', 'message': 'Active'}

In [48]:
sma.update(smart_analytics_name, df, arrow, overwrite, publish)

[2023-11-29 16:51:26,755] [INFO] Table m_655cebb7_Flow_Sales already exist.
[2023-11-29 16:51:27,075] [INFO] Table m_655cebb7_Flow_Sales already exist.
[2023-11-29 16:51:27,090] [INFO] Loading table m_8edbd0b9802fd701256267551a59a9a7_Flow_Sales with data...
[2023-11-29 16:51:27,195] [INFO] Data inserted successfully !!
[2023-11-29 16:51:27,202] [INFO] Query executed successfully !!
[2023-11-29 16:51:27,208] [INFO] Query executed successfully !!
[2023-11-29 16:51:27,505] [INFO] Table m_655cebb7_Flow_Sales_backup already exist.
[2023-11-29 16:51:27,506] [INFO] Deleting table m_655cebb7_Flow_Sales_backup ...
[2023-11-29 16:51:27,517] [INFO] Query executed successfully !!
[2023-11-29 16:51:27,518] [INFO] Request to hit createDict ====> [{dataset: 655ceb56-HrXES9SSm, filter: Smart Analytics, tables: [Flow_Sales]}]

{'status': 'success', 'message': 'Smart analytics updated successfully !!'}

In [13]:
sma.delete(smart_analytics_name)